# Токен телеграм-бота
BOT_TOKEN=token_string

# Сервер SeaTable для работы с API
SEATABLE_SERVER=https://server.ru



# SeaTable API — ключ основного приложения
SEATABLE_API_APP_TOKEN=token

# Стартовая таблица меню для роли действующих сотрудников
SEATABLE_MAIN_MENU_EMPLOYEE_ID=str

# Стартовая таблица меню для роли новичков
SEATABLE_MAIN_MENU_NEWCOMER_ID=str

# Таблица с уведомлениями
BROADCAST_TABLE_ID=str



# SeaTable API — ключ БД пользователей
SEATABLE_API_USER_TOKEN=token

# Таблица с выгрузкой 1С
SEATABLE_1C_TABLE_ID=str

# Таблица с телефонным справочником в SeaTable
SEATABLE_ATS_BOOK_ID=str

# Таблица со справочником магазинов
SEATABLE_SHOP_TABLE_ID=str

# Таблица со справочником аптек
SEATABLE_DRUGSTORE_TABLE_ID=str

# Сводная таблица сотрудников для всего сервиса
SEATABLE_PIVOT_TABLE_ID=str

# Таблица с авторизационными данными пользователей
SEATABLE_USERS_TABLE_ID=str

# Таблица админов бота
SEATABLE_ADMIN_TABLE_ID=str



# SeaTanble API - ключ БД с пульс-опросами
SEATABLE_API_PULSE_TOKEN=token

# Таблица с задачами на пульс-опросы
SEATABLE_PULSE_TASKS_ID=str

# Таблица с контентом опросов
SEATABLE_PULSE_CONTENT_ID=str