# Токен телеграм-бота
BOT_TOKEN=token

# --- Подключение к базе данных

# Сервер NocoDB для работы с API
NOCOBD_SERVER=https://server.com

# Сервер NocoDB для работы с API
NOCOBD_API_TOKEN=token


# --- Работа с контентом

# Стартовая таблица меню для роли действующих сотрудников
MAIN_MENU_EMPLOYEE_ID=uid

# Стартовая таблица меню для роли новичков
MAIN_MENU_NEWCOMER_ID=uid

# Таблица с уведомлениями
BROADCAST_TABLE_ID=uid


# --- Работа с пользователями

# Таблица с выгрузкой 1С
1C_TABLE_ID=uid

# Таблица с телефонным справочником в SeaTable
ATS_BOOK_ID=uid

# Таблица со справочником магазинов
SHOP_TABLE_ID=uid

# Таблица со справочником аптек
DRUGSTORE_TABLE_ID=uid

# Сводная таблица сотрудников для всего сервиса
PIVOT_TABLE_ID=uid

# Таблица с авторизационными данными пользователей
AUTH_TABLE_ID=uid

# Таблица админов бота
ADMIN_TABLE_ID=uid


# --- Пульс-опросы

# Таблица с задачами на пульс-опросы
PULSE_TASKS_ID=uid

# Таблица с контентом опросов
PULSE_CONTENT_ID=uid